<mat-toolbar class="custom-toolbar">

  <button mat-icon-button class="example-icon"  [matMenuTriggerFor]="menu2" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu2="matMenu">
    <button mat-menu-item (click)="addNews('remotePlus')"  >
      <span>Agregar usuario</span>
    </button>
  </mat-menu>
  <span>Datha+ Test</span>
  
</mat-toolbar>


<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="150px" *ngIf="cards.length > 0" >
    <mat-grid-tile  *ngFor="let card of cards" [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        

        <mat-card-title-group>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  (click)="editNews(card)" >
              <span>Editar</span>
            </button>
            <button mat-menu-item  (click)="deleteNews(card)" >
              <span>Borrar</span>
            </button>
          </mat-menu>
          <mat-card-title>{{card.name}}</mat-card-title>
          <mat-card-subtitle>{{card.lastname}}</mat-card-subtitle>
          <img mat-card-sm-image src="/assets/user.png" alt="user">
        </mat-card-title-group>
        
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
